<!-- Reviews -->
<div class="reviews-block mb-0 container">
  <h2>COMUNICATE CON NOSOTROS</h2>

  <!-- Reviews List -->
  <ul class="reviews-list">
    <!-- Kristen Bradley review -->
    <li>
      <article>
        <div class="review-avatar pull-left">
          <img src="/images/light/logo.png" alt="">
        </div>
        <div class="review-cont clearfix">
          <p class="review-author h4">UVLUM</p>
        </div>
      </article>
    </li>
    <!-- /Kristen Bradley review -->
    <!-- Clyde Fields review -->
    <li>
      <article>
        <div class="review-cont clearfix">
          <div class="review-text" ALIGN="justify">
            <p>
              Si deseas contactanos de manera más privada, por favor comunicate a los siguientes correos y con gusto te atenderemos.
            </p>
            <p>
              <h1>CORREOS</h1>
              <br>
              <p>
                <ul>
                  <li>contacto@uvlum.com</li>
                </ul>
                <ul>
                  <li>contacto.uvlum@gmail.com</li>
                </ul>
                <ul>
                  <li>Si lo deseas envia mensaje privado a nuestras redes sociales.</li>
                </ul>
              </p>
            </p>
          </div>
        </div>
      </article>
    </li>
    <!-- /Clyde Fields review -->
  </ul>
  <!-- /Reviews List -->
</div>
<!-- /Reviews -->
