<!-- Reviews -->
<div class="reviews-block mb-0 container">
  <h2>POLÍTICAS DE PRIVACIDAD</h2>

  <!-- Reviews List -->
  <ul class="reviews-list">
    <!-- Kristen Bradley review -->
    <li>
      <article>
        <div class="review-avatar pull-left">
          <img src="/images/light/logo.png" alt="">
        </div>
        <div class="review-cont clearfix">
          <p class="review-author h4">UVLUM</p>
        </div>
      </article>
    </li>
    <!-- /Kristen Bradley review -->
    <!-- Clyde Fields review -->
    <li>
      <article>
        <div class="review-cont clearfix col-md-12" ALIGN="justify">
          <div class="review-text">
            <h3 class="text-center">
              Cuando usa nuestros servicios, nos confía su información.
              <br>
              Comprendemos que se trata de una gran responsabilidad y trabajamos arduamente para proteger su información y darle el control de ella.
            </h3>
            <p>
              Esta Política de Privacidad está destinada a ayudarlo a entender qué información recopilamos, por qué lo hacemos y cómo puede actualizar, administrar, y borrar su información.
            </p>
            <p>
              Para administrar su privacidad, puede usar nuestros servicios de diversas maneras.
              <br>
              Por ejemplo, puede registrarse para obtener una Cuenta de UVLUM si desea crear y administrar contenido como calificaciones y graficar dichas calificaciones o ver resultados de búsqueda más relevantes de preguntas y/o respuetas. Además, puede usar la plataforma UVLUM sin acceder a la cuenta o incluso sin necesidad de crear una, como realizar búsquedas en Material Didactico o ver alguna pregunta o respuesta.
            </p>
            <p>
              Cuando no accede a su Cuenta de UVLUM, almacenamos la información que recopilamos con identificadores únicos que están vinculados con el navegador, la app o el dispositivo que esté usando. Esta acción nos permite realizar tareas como conservar sus preferencias de idiomas en las diferentes sesiones de navegación.
            </p>
            <p>
              Cuando crea una Cuenta de UVLUM, nos proporciona su información personal que incluye su nombre y contraseña.
            </p>
            <p>
              También recopilamos el contenido que crea.
            </p>
            <p>
              Recopilamos información sobre los navegadores y los dispositivos que usa para acceder a los servicios de UVLUM, lo que nos permite proporcionar funciones, como actualizaciones automáticas del producto.
            </p>
            <p>
              Recopilamos información sobre su actividad en nuestros servicios, que usamos para realizar acciones como recomendar una pregunta que pueda gustarle.
            </p>
            <p>
              También usamos su información para garantizar que nuestros servicios funcionen según lo previsto, por ejemplo, mediante un seguimiento de las interrupciones en los servicios o la solución de los problemas que nos informa. Además, usamos su información para implementar mejoras en nuestros servicios.
              <br>
              Por ejemplo, comprender cuáles son los términos de búsqueda que se escriben con mayor frecuencia.
            </p>
            <p>
              Usamos la información que recopilamos, como su dirección de correo electrónico, para interactuar con usted directamente. Por ejemplo, es posible que le enviemos una notificación, probablemente le notifiquemos sobre próximos cambios o mejoras en nuestros servicios. Asimismo, si se comunica con UVLUM, mantendremos un registro de su solicitud para ayudarlo a resolver cualquier problema que tenga.
            </p>
            <p>
              Tratamos de usar la información para mejorar la seguridad y confiabilidad de nuestros servicios. Estas acciones incluyen detectar, prevenir y responder ante casos de fraude y abuso, riesgos de seguridad y problemas técnicos que puedan dañar a UVLUM, nuestros usuarios o el público.
            </p>
          </div>
        </div>
      </article>
    </li>
    <!-- /Clyde Fields review -->
  </ul>
  <!-- /Reviews List -->
</div>
<!-- /Reviews -->
