<div class="content-wrap">
<!--Banner-->
<section class="youplay-banner banner-top youplay-banner-parallax full">
  <div class="image" data-speed="0.4" itemscope itemtype="http://schema.org/ImageObject">
    <img src="/images/light/banner-broken-age.jpg" alt="Bienvenido Para iniciar debes guardar el nombre tu escuela, presiona el boton para continuar." class="jarallax-img" itemprop="contentUrl">
  </div>
  <div class="info">
    <div>
      <div class="container">
        <div class="text-center" itemscope itemtype="http://schema.org/ImageObject">
          <img src="/images/light/logo-broken-age-400x197.png" alt="Logo uvlum" itemprop="contentUrl">
          <br><br>
          <!-- See countdown init in bottom of the page -->
          <p>Para iniciar debes registrar el nombre de tus escuelas</p>
          <br>
          <p>Presiona el botón para continuar.</p>
          <a class="btn btn-lg" href="/escuela/add">Registrar escuelas</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Banner -->
</div>
