<div class="content-wrap">

  <!--
  Banner

  Additional classes:
  .small
  .xsmall
  .big
  .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax small">

  <div class="image" data-speed="0.4">
    <img src="images/light/mapcurricular.jpg" alt="" class="jarallax-img">
  </div>

  <div class="info">
    <div>
      <div class="container">

        <div class="pt-40 pb-40">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h1>Mapa Curricular</h1>
              <div class="h5 mnt-10 mb-40">Selecciona uno de los siguientes</div>
            </div>
          </div>
          <div class="row">
            <div class="container youplay-store store-grid">

              <!-- Games List -->
              <div class="col-md-9 isotope">

                <div class="isotope-list row vertical-gutter">

                  <!-- Single Product Block -->
                  <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                    <a href="/escuela/2018-2019" class="angled-img">
                      <div class="img img-offset">
                        <img src="images/light/game-road-no-taken-500x375.jpg" alt="">
                      </div>
                      <div class="bottom-info">
                        <h4>Mapa Curricular Inicios 2018 - 2019</h4>
                      </div>
                    </a>
                  </div>
                  <!-- /Single Product Block -->

                  <!-- Single Product Block -->
                  <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular,specials">
                    <a href="/escuela/2019" class="angled-img">
                      <div class="img img-offset">
                        <img src="images/light/game-botanicula-500x375.jpg" alt="">
                      </div>
                      <div class="bottom-info">
                        <h4>Mapa Curricular a mediados 2019</h4>
                      </div>
                    </a>
                  </div>
                  <!-- /Single Product Block -->

                  <!-- Single Product Block -->
                  <div class="item col-lg-4 col-md-6 col-xs-12" data-filters="popular">
                    <a href="/escuela/all" class="angled-img">
                      <div class="img img-offset">
                        <img src="images/light/game-journey-500x375.jpg" alt="">
                      </div>
                      <div class="bottom-info">
                        <h4>Ingresa cualquier materia</h4>
                      </div>
                    </a>
                  </div>
                  <!-- /Single Product Block -->
                </div>

              </div>
              <!-- /Games List -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Banner -->

</div>
