<div class="content-wrap no-banner">

  <h1 class="container">Review Journey</h1>

  <div class="container youplay-news youplay-post">
    <!-- Post Info -->
    <article class="news-one">
      <!-- Post Text -->
      <div class="description">
        
        <!-- Tables -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
        <!-- /Tables -->

        <div class="align-center">
          <a href="/images/light/game-journey-5-1100x619.jpg" class="angled-img image-popup mr-0">
            <div class="img">
              <img src="/images/light/game-journey-5-500x375.jpg" alt="">
            </div>
            <i class="fa fa-search-plus icon"></i>
          </a>
          <a href="/images/light/game-journey-6-800x450.jpg" class="angled-img image-popup">
            <div class="img">
              <img src="/images/light/game-journey-6-500x375.jpg" alt="">
            </div>
            <i class="fa fa-search-plus icon"></i>
          </a>
        </div>

      </div>
      <!-- /Post Text -->
    </article>
    <!-- /Post Info -->
  </div>
</div>
