<!-- Reviews -->
<div class="reviews-block mb-0 container">
  <h2>CONDICIONES DE USO</h2>

  <!-- Reviews List -->
  <ul class="reviews-list">
    <!-- Kristen Bradley review -->
    <li>
      <article>
        <div class="review-avatar pull-left">
          <img src="/images/light/logo.png" alt="">
        </div>
        <div class="review-cont clearfix">
          <p class="review-author h4">UVLUM</p>
        </div>
      </article>
    </li>
    <!-- /Kristen Bradley review -->
    <!-- Clyde Fields review -->
    <li>
      <article>
        <div class="review-cont clearfix">
          <div class="review-text" ALIGN="justify">
            <p>
              Para crear una cuenta de UVLUM, deberás aceptar las Condiciones del Servicio que se encuentran a continuación.
              Además, cuando creas una cuenta, procesamos tu información como se describe en nuestra Política de Privacidad, incluidos estos puntos clave:
            </p>
            <p>
              Datos que procesamos cuando usa UVLUM
            </p>
            <ul>
              <li>
                Cuando configura una cuenta de UVLUM, almacenamos la información que proporciona, como su nombre, dirección de correo electrónico.
              </li>
              <li>
                Por ejemplo, cuando usa los servicios de UVLUM para escribir un mensaje (pregunta) en UVLUM o un comentario en una respuesta, almacenamos la información que genera.
              </li>
              <li>
                Además, procesamos la información mencionada anteriormente cuando usa apps o sitios que utilizan servicios de UVLUM, como Analytics para determinar el impacto que estamos teniendo.
              </li>
              <li>
                Para seguir usando nuestra plataforma, no deberás insultar de ningún manera, subir contenido sexul u ofensivo, ya que nosotros somos una empresa familiar, en caso de que se genere algun tipo de agresión, el contenido sera eliminado y la cuenta suspendida indefinidamente.
              </li>
            </ul>
            <p>
              Por qué los procesamos
              Procesamos estos datos con los fines que se describen en nuestra política, entre los que se incluyen los siguientes:
            </p>
            <ul>
              <li>
                Contribuir a que nuestros servicios proporcionen contenido más útil y personalizado, como resultados de la búsqueda más relevantes.
              </li>
              <li>
                Desarrollar servicios nuevos y mejorar la calidad de los existentes.
              </li>
              <li>
                Mejorar la seguridad mediante la protección del usuario ante casos de fraude y abuso.
              </li>
              <li>
                Llevar a cabo análisis y mediciones para comprender la forma en que se utilizan nuestros servicios.
              </li>
            </ul>
          </div>
        </div>
      </article>
    </li>
    <!-- /Clyde Fields review -->
  </ul>
  <!-- /Reviews List -->
</div>
<!-- /Reviews -->
