<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>uvlum</title>

  <meta name="description" content="Material Didáctico para profesores, lista de alumnos, publica preguntas y la comunidad respondera">
  <meta name="keywords" content="maestro, maestra, profesor, profesora, alumnos, calificaciones, materias, preguntas, respuestas">
  <meta name="author" content="uvlum">
  <!--Facebook-->
  <meta property="og:url"                content="https://www.uvlum.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="uvlum" />
  <meta property="og:description"        content="Material Didáctico para profesores, lista de alumnos, publica preguntas y la comunidad respondera" />
  <meta property="og:image"              content="https://www.uvlum.com/images/light/logo-broken-age-400x197.png" />
  <!--Twitter-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@uvlum_mx" />
  <meta name="twitter:creator" content="@uvlum_mx" />
  <meta property="og:url" content="https://www.uvlum.com" />
  <meta property="og:title" content="A Twitter for My Sister" />
  <meta property="og:description" content="Material Didáctico para maestros, listas de alumnos, publica tus dudas y la comunidad respondera" />
  <meta property="og:image" content="https://www.uvlum.com/images/light/logo-broken-age-400x197.png" />


  <link rel="icon" type="image/png" href="/images/light/icon.png">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- START: Styles -->

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

  <!-- Flickity -->
  <link rel="stylesheet" href="/vendor/flickity/dist/flickity.min.css" />

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/vendor/magnific-popup/dist/magnific-popup.css" />

  <!-- Revolution Slider -->
  <link rel="stylesheet" href="/vendor/slider-revolution/css/settings.css">
  <link rel="stylesheet" href="/vendor/slider-revolution/css/layers.css">
  <link rel="stylesheet" href="/vendor/slider-revolution/css/navigation.css">

  <!-- Bootstrap Sweetalert -->
  <link rel="stylesheet" href="/vendor/bootstrap-sweetalert/dist/sweetalert.css" />

  <!-- Social Likes -->
  <link rel="stylesheet" href="/vendor/social-likes/dist/social-likes_flat.css" />

  <!-- FontAwesome -->
  <script defer src="/vendor/fontawesome-free/js/all.js"></script>
  <script defer src="/vendor/fontawesome-free/js/v4-shims.js"></script>

  <!-- Youplay -->
  <link rel="stylesheet" href="/css/youplay-light.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/custom.css">

  <!-- END: Styles -->

  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/funciones/funcionTR.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158787586-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158787586-1');
</script>

<script data-ad-client="ca-pub-3588955827578256" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


</head>
<body>

  {{> navigation }}

  {{> message}}

  {{{ body }}}

  <!-- Footer -->
  <footer class="youplay-footer youplay-footer-parallax">

    <div itemscope itemtype="http://schema.org/Thing" class="image" data-speed="0.4" data-img-position="50% 0%">
      <img itemprop="image" src="/images/light/footer-bg.jpg" alt="Redes sociales de uvlum" class="jarallax-img">
    </div>

    <div class="wrapper">

      <!-- Social Buttons -->
      <div class="social" itemprop="orderedItem" itemscope itemtype="http://schema.org/OrderItem">
        <div class="container">
          <h3 itemprop="name" >Visita las redes sociales de <strong>uvlum</strong></h3>

          <div class="social-icons">
            <div class="social-icon">
              <a href="https://www.facebook.com/uvlum" itemprop="orderItemStatus">
                <i class="fab fa-facebook-square"></i>
              </a>
            </div>
            <div class="social-icon">
              <a href="https://twitter.com/uvlum_mx" itemprop="orderItemStatus">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="social-icon">
              <a href="https://www.instagram.com/uvlum_mx" itemprop="orderItemStatus">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Social Buttons -->



      <!-- Copyright -->
      <div class="copyright">
        <div class="container" itemprop = "copyrightHolder">
          <p itemprop="copyrightYear">2020 &copy; <strong>UVLUM</strong>. All rights reserved</p>
          <p><a href="/condiciones">CONDICIONES DE USO</a> <a href="/politicas">POLITICAS DE PRIVACIDAD</a> </p>
          <img src="/images/light/powered_by_google.png" alt="powered by google of uvlum">
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </footer>
  <!-- /Footer -->

  <!-- START: Scripts -->

  <!-- Object Fit Polyfill -->
  <script src="/vendor/object-fit-images/dist/ofi.min.js"></script>

  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>

  <!-- Hexagon Progress -->
  <script src="/vendor/HexagonProgress/jquery.hexagonprogress.min.js"></script>

  <!-- Bootstrap -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Jarallax -->
  <script src="/vendor/jarallax/dist/jarallax.min.js"></script>

  <!-- Flickity -->
  <script src="/vendor/flickity/dist/flickity.pkgd.min.js"></script>

  <!-- jQuery Countdown -->
  <script src="/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>

  <!-- Moment.js -->
  <script src="/vendor/moment/min/moment.min.js"></script>
  <script src="/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

  <!-- Magnific Popup -->
  <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

  <!-- Revolution Slider -->
  <script src="/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

  <!-- ImagesLoaded -->
  <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

  <!-- Isotope -->
  <script src="/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

  <!-- Bootstrap Validator -->
  <script src="/vendor/bootstrap-validator/dist/validator.min.js"></script>

  <!-- Bootstrap Sweetalert -->
  <script src="/vendor/bootstrap-sweetalert/dist/sweetalert.min.js"></script>

  <!-- Social Likes -->
  <script src="/vendor/social-likes/dist/social-likes.min.js"></script>

  <!-- Youplay -->
  <script src="/js/youplay.min.js"></script>
  <script src="/js/youplay-init.js"></script>


  <script>
  $(".countdown").each(function() {
    var tz = $(this).attr('data-timezone');
    var end = $(this).attr('data-end');
    end = moment.tz(end, tz).toDate();
    $(this).countdown(end, function(event) {
      $(this).text(
        event.strftime('%D days %H:%M:%S')
      );
    });
  });
</script>


<!-- END: Scripts -->

</body>
</html>
