<div class="content-wrap">

<section class="youplay-banner banner-top youplay-banner-parallax full">

  <div class="image" data-speed="0.4" itemscope itemtype="http://schema.org/ImageObject">
    <img src="images/light/banner-bgsignup.jpg" alt="Registro de usuarios de uvlum" class="jarallax-img" itemprop="contentUrl">
  </div>


  <div class="info">
    <div>
      <div class="container">

        <div class="youplay-login text-center" itemscope itemtype="http://schema.org/ImageObject">
          <div class="youplay-form">
            <h1 itemprop="name">Registro</h1>

            <div class="btn-group social-list dib" itemprop="educationalAlignment" itemscope itemtype="http://schema.org/AlignmentObject">
              <a itemprop="targetUrl" class="btn btn-default" title="Share on Facebook" href="https://www.facebook.com/uvlum"><i class="fab fa-facebook"></i></a>
              <a itemprop="targetUrl" class="btn btn-default" href="https://twitter.com/uvlum_mx" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
              <a itemprop="targetUrl" class="btn btn-default" href="https://www.instagram.com/uvlum_mx" title="Share on Google Plus"><i class="fab fa-instagram"></i></a>
            </div>

            <form action="/signup" method="POST">
              <div class="youplay-input">
                <input type="text" name="nombre" id="gT" placeholder="Nombre">
              </div>
              <div class="youplay-input">
                <input type="text" name="username" placeholder="Email">
              </div>
              <div class="youplay-input">
                <input type="password" name="password" placeholder="Password">
              </div>
              <textarea name="token" rows="1" cols="1" id="sT" style="display:none;"  ></textarea>
              <button class="btn btn-default db">Registrar</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Banner -->

</div>
