<div class="content-wrap no-banner">

  <div class="container youplay-store">

    <div class="col-md-9 col-md-push-3">
      <!-- Post Info -->
      <!-- Description -->
      <h2 class="mt-0">Ingresar Lista de Alumnos</h2>
      <br>
      <div class="description">
        <div class="isotope-list row vertical-gutter">
          <form class="" action="/matricula/instudent/{{escuela.id_escuela}}/20182019/{{escuela.grado}}" method="post">
            <div class="item col-lg-6 col-md-6 col-xs-12" data-filters="popular,specials">
              <div class="youplay-textarea" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
                <!-- <textarea name="message" rows="20" cols="5" placeholder="Your Review..."></textarea> -->
                <p class="text-center" itemprop="name">Copia y Pega la lista de alumnos. <br><br> Ejemplo: <br> ANTONIO <br> JOSE <br> MARIA CARMEN <br> MARIA DOLORES <br> MARIA ISABEL <br>FRANCISCO JAVIER <br>MARIA TERESA <br>JUAN CARLOS <br>MARIA JOSEFA <br>ENRIQUE <br>ALICIA <br>ALFONSO <br>ANA BELEN <br>MARIA JESUS <br>CONSUELO <br>ROSA <br>PASCUAL <br>JORGE </p>
              </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-xs-12" data-filters="popular,specials">
              <div class="youplay-textarea" itemscope itemtype="http://schema.org/EducationalOccupationalCredential">
                <textarea name="nombres" rows="20" cols="5" placeholder="Copia y Pega la lista de alumnos." itemprop="name"></textarea>
              </div>
            </div>
            <div class="align-right">
              <button class="btn btn-lg">Guardar Alumno</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Left Side -->
    <div class="col-md-3 col-md-pull-9">
      <div class="">
        <form action="#">
          <div class="">
            <a href="/contacto" class="angled-img">
                <div class="">
                    <img src="/images/light/Anuncio1.png" alt="Anunciate en uvlum" width="600" height="300">
                </div>
            </a>
          </div>
        </form>
      </div>

      <!-- Side Search -->
      <!--<div class="side-block">
        <p>Search by Games:</p>
        <form action="light-search.html">
          <div class="youplay-input">
            <input type="text" name="search" placeholder="enter search term">
          </div>
        </form>
      </div>-->
      <!-- /Side Search -->

      <!-- Side Categories -->
      <!--<div class="side-block">
        <h4 class="block-title">Categories</h4>
        <ul class="block-content">
          <li><a href="#">All</a></li>
          <li><a href="#">Action</a></li>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Casual</a></li>
          <li><a href="#">Indie</a></li>
          <li><a href="#">Racing</a></li>
          <li><a href="#">RPG</a></li>
          <li><a href="#">Simulation</a></li>
          <li><a href="#">Strategy</a></li>
        </ul>
      </div>-->
      <!-- /Side Categories -->

    </div>
    <!-- /Left Side -->

  </div>
